@charset "UTF-8";
.ucon {
  display: inline-block;
  text-transform: none;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-size: 16px;
  font-kerning: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .ucon.ucon-face-grinning::before {
    content: "😀"; }
  .ucon.ucon-face-beaming::before {
    content: "😁"; }
  .ucon.ucon-face-joy-tears::before {
    content: "😂"; }
  .ucon.ucon-face-rolling::before {
    content: "🤣"; }
  .ucon.ucon-face-grinning-big-eyes::before {
    content: "😃"; }
  .ucon.ucon-face-grinning-smiling::before {
    content: "😄"; }
  .ucon.ucon-face-grinning-sweat::before {
    content: "😅"; }
  .ucon.ucon-face-grinning-squiting::before {
    content: "😆"; }
  .ucon.ucon-face-winking::before {
    content: "😉"; }
  .ucon.ucon-face-smiling-eyes::before {
    content: "😊"; }
  .ucon.ucon-face-savoring::before {
    content: "😋"; }
  .ucon.ucon-face-smiling-sunglasses::before {
    content: "😎"; }
  .ucon.ucon-face-heart-eye::before {
    content: "😍"; }
  .ucon.ucon-face-blowing-kiss::before {
    content: "😘"; }
  .ucon.ucon-face-kissing::before {
    content: "😗"; }
  .ucon.ucon-face-kissing-smiling-eye::before {
    content: "😙"; }
  .ucon.ucon-face-kissing-closed-eye::before {
    content: "😚"; }
  .ucon.ucon-face-smiling::before {
    content: "☺"; }
  .ucon.ucon-face-slighty-smiling::before {
    content: "🙂"; }
  .ucon.ucon-face-hugging::before {
    content: "🤗"; }
  .ucon.ucon-face-star-struck::before {
    content: "🤩"; }
  .ucon.ucon-face-thinking::before {
    content: "🤔"; }
  .ucon.ucon-face-raised-eyebrow::before {
    content: "🤨"; }
  .ucon.ucon-face-neutral::before {
    content: "😐"; }
  .ucon.ucon-face-expressionless::before {
    content: "😑"; }
  .ucon.ucon-face-without-mouth::before {
    content: "😶"; }
  .ucon.ucon-face-rolling-eyes::before {
    content: "🙄"; }
  .ucon.ucon-face-smirking::before {
    content: "😏"; }
  .ucon.ucon-face-persevering::before {
    content: "😣"; }
  .ucon.ucon-face-sad-relieved::before {
    content: "😥"; }
  .ucon.ucon-face-open-mouth::before {
    content: "😮"; }
  .ucon.ucon-face-zipper-mouth::before {
    content: "🤐"; }
  .ucon.ucon-face-hushed::before {
    content: "😯"; }
  .ucon.ucon-face-sleepy::before {
    content: "😪"; }
  .ucon.ucon-face-tired::before {
    content: "😫"; }
  .ucon.ucon-face-sleeping::before {
    content: "😴"; }
  .ucon.ucon-face-relivied::before {
    content: "😌"; }
  .ucon.ucon-face-tongue::before {
    content: "😛"; }
  .ucon.ucon-face-winking-tongue::before {
    content: "😜"; }
  .ucon.ucon-face-squinting-tongue::before {
    content: "😝"; }
  .ucon.ucon-face-drooling::before {
    content: "🤤"; }
  .ucon.ucon-face-unamused::before {
    content: "😒"; }
  .ucon.ucon-face-downcast-sweat::before {
    content: "😓"; }
  .ucon.ucon-face-pensive::before {
    content: "😔"; }
  .ucon.ucon-face-confused::before {
    content: "😕"; }
  .ucon.ucon-face-upside-down::before {
    content: "🙃"; }
  .ucon.ucon-face-money-mouth::before {
    content: "🤑"; }
  .ucon.ucon-face-astonished::before {
    content: "😲"; }
  .ucon.ucon-face-frowning::before {
    content: "☹"; }
  .ucon.ucon-face-slighty-frowning::before {
    content: "🙁"; }
  .ucon.ucon-face-confounded::before {
    content: "😖"; }
  .ucon.ucon-face-disappointed::before {
    content: "😞"; }
  .ucon.ucon-face-worried::before {
    content: "😟"; }
  .ucon.ucon-face-steam-from-nose::before {
    content: "😤"; }
  .ucon.ucon-face-crying::before {
    content: "😢"; }
  .ucon.ucon-face-loudly-crying::before {
    content: "😭"; }
  .ucon.ucon-face-frowning-open-mouse::before {
    content: "😦"; }
  .ucon.ucon-face-anguished::before {
    content: "😧"; }
  .ucon.ucon-face-fearful::before {
    content: "😨"; }
  .ucon.ucon-face-weary::before {
    content: "😩"; }
  .ucon.ucon-face-exploding-head::before {
    content: "🤯"; }
  .ucon.ucon-face-grimacing::before {
    content: "😬"; }
  .ucon.ucon-face-anxious-sweat::before {
    content: "😰"; }
  .ucon.ucon-face-screaming-fear::before {
    content: "😱"; }
  .ucon.ucon-face-flushed::before {
    content: "😳"; }
  .ucon.ucon-face-crazy::before {
    content: "🤪"; }
  .ucon.ucon-face-dizzy::before {
    content: "😵"; }
  .ucon.ucon-face-pouting::before {
    content: "😡"; }
  .ucon.ucon-face-angry::before {
    content: "😠"; }
  .ucon.ucon-face-symbols-mouth::before {
    content: "🤬"; }
  .ucon.ucon-face-medical-mask::before {
    content: "😷"; }
  .ucon.ucon-face-thermometer::before {
    content: "🤒"; }
  .ucon.ucon-face-head-bandage::before {
    content: "🤕"; }
  .ucon.ucon-face-nauseated::before {
    content: "🤢"; }
  .ucon.ucon-face-vomiting::before {
    content: "🤮"; }
  .ucon.ucon-face-sneezing::before {
    content: "🤧"; }
  .ucon.ucon-face-smiling-halo::before {
    content: "😇"; }
  .ucon.ucon-face-cowboy-hat::before {
    content: "🤠"; }
  .ucon.ucon-face-clown::before {
    content: "🤡"; }
  .ucon.ucon-face-lying::before {
    content: "🤥"; }
  .ucon.ucon-face-shushing::before {
    content: "🤫"; }
  .ucon.ucon-face-hand-over-mouth::before {
    content: "🤭"; }
  .ucon.ucon-face-monocle::before {
    content: "🧐"; }
  .ucon.ucon-face-nerd::before {
    content: "🤓"; }
  .ucon.ucon-face-smiling-horns::before {
    content: "😈"; }
  .ucon.ucon-face-angry-horns::before {
    content: "👿"; }
  .ucon.ucon-face-ogre::before {
    content: "👹"; }
  .ucon.ucon-face-goblin::before {
    content: "👺"; }
  .ucon.ucon-face-skull::before {
    content: "💀"; }
  .ucon.ucon-face-skull-crossbones::before {
    content: "☠"; }
  .ucon.ucon-face-ghost::before {
    content: "👻"; }
  .ucon.ucon-face-alien::before {
    content: "👽"; }
  .ucon.ucon-face-alien-monster::before {
    content: "👾"; }
  .ucon.ucon-face-robot::before {
    content: "🤖"; }
  .ucon.ucon-face-poo::before {
    content: "💩"; }
  .ucon.ucon-cat-face-grinning::before {
    content: "😺"; }
  .ucon.ucon-cat-face-grinning-smiling-eyes::before {
    content: "😸"; }
  .ucon.ucon-cat-face-tears-joy::before {
    content: "😹"; }
  .ucon.ucon-cat-face-smiling-heart-eyes::before {
    content: "😻"; }
  .ucon.ucon-cat-face-wry-smile::before {
    content: "😼"; }
  .ucon.ucon-cat-face-kissing::before {
    content: "😽"; }
  .ucon.ucon-cat-face-weary::before {
    content: "🙀"; }
  .ucon.ucon-cat-face-crying::before {
    content: "😿"; }
  .ucon.ucon-cat-face-pouting::before {
    content: "😾"; }
  .ucon.ucon-monkey-face-no-see::before {
    content: "🙈"; }
  .ucon.ucon-monkey-face-no-hear::before {
    content: "🙉"; }
  .ucon.ucon-monkey-face-no-speak::before {
    content: "🙊"; }
  .ucon.ucon-person-baby::before {
    content: "👶"; }
  .ucon.ucon-person-baby-skin-light::before {
    content: "👶🏻"; }
  .ucon.ucon-person-baby-skin-light-tone::before {
    content: "👶🏼"; }
  .ucon.ucon-person-baby-skin-tone::before {
    content: "👶🏽"; }
  .ucon.ucon-person-baby-skin-dark-tone::before {
    content: "👶🏾"; }
  .ucon.ucon-person-baby-skin-dark::before {
    content: "👶🏿"; }
  .ucon.ucon-person-child::before {
    content: "🧒"; }
  .ucon.ucon-person-child-skin-light::before {
    content: "🧒🏻"; }
  .ucon.ucon-person-child-skin-light-tone::before {
    content: "🧒🏼"; }
  .ucon.ucon-person-child-skin-tone::before {
    content: "🧒🏽"; }
  .ucon.ucon-person-child-skin-dark-tone::before {
    content: "🧒🏾"; }
  .ucon.ucon-person-child-skin-dark::before {
    content: "🧒🏿"; }
  .ucon.ucon-person-boy::before {
    content: "👦"; }
  .ucon.ucon-person-boy-skin-light::before {
    content: "👦🏻"; }
  .ucon.ucon-person-boy-skin-light-tone::before {
    content: "👦🏼"; }
  .ucon.ucon-person-boy-skin-tone::before {
    content: "👦🏽"; }
  .ucon.ucon-person-boy-skin-dark-tone::before {
    content: "👦🏾"; }
  .ucon.ucon-person-boy-skin-dark::before {
    content: "👦🏿"; }
  .ucon.ucon-person-girl::before {
    content: "👧"; }
  .ucon.ucon-person-girl-skin-light::before {
    content: "👧🏻"; }
  .ucon.ucon-person-girl-skin-light-tone::before {
    content: "👧🏼"; }
  .ucon.ucon-person-girl-skin-tone::before {
    content: "👧🏽"; }
  .ucon.ucon-person-girl-skin-dark-tone::before {
    content: "👧🏾"; }
  .ucon.ucon-person-girl-skin-dark::before {
    content: "👧🏿"; }
  .ucon.ucon-person-adult::before {
    content: "🧑"; }
  .ucon.ucon-person-adult-skin-light::before {
    content: "🧑🏻"; }
  .ucon.ucon-person-adult-skin-light-tone::before {
    content: "🧑🏼"; }
  .ucon.ucon-person-adult-skin-tone::before {
    content: "🧑🏽"; }
  .ucon.ucon-person-adult-skin-dark-tone::before {
    content: "🧑🏾"; }
  .ucon.ucon-person-adult-skin-dark::before {
    content: "🧑🏿"; }
  .ucon.ucon-person-man::before {
    content: "👨"; }
  .ucon.ucon-person-man-skin-light::before {
    content: "👨🏻"; }
  .ucon.ucon-person-man-skin-light-tone::before {
    content: "👨🏼"; }
  .ucon.ucon-person-man-skin-tone::before {
    content: "👨🏽"; }
  .ucon.ucon-person-man-skin-dark-tone::before {
    content: "👨🏾"; }
  .ucon.ucon-person-man-skin-dark::before {
    content: "👨🏿"; }
  .ucon.ucon-person-woman::before {
    content: "👩"; }
  .ucon.ucon-person-woman-skin-light::before {
    content: "👩🏻"; }
  .ucon.ucon-person-woman-skin-light-tone::before {
    content: "👩🏼"; }
  .ucon.ucon-person-woman-skin-tone::before {
    content: "👩🏽"; }
  .ucon.ucon-person-woman-skin-dark-tone::before {
    content: "👩🏾"; }
  .ucon.ucon-person-woman-skin-dark::before {
    content: "👩🏿"; }
  .ucon.ucon-person-older::before {
    content: "🧓"; }
  .ucon.ucon-person-older-skin-light::before {
    content: "🧓🏻"; }
  .ucon.ucon-person-older-skin-light-tone::before {
    content: "🧓🏼"; }
  .ucon.ucon-person-older-skin-tone::before {
    content: "🧓🏽"; }
  .ucon.ucon-person-older-skin-dark-tone::before {
    content: "🧓🏾"; }
  .ucon.ucon-person-older-skin-dark::before {
    content: "🧓🏿"; }
  .ucon.ucon-person-old-man::before {
    content: "👴"; }
  .ucon.ucon-person-old-man-skin-light::before {
    content: "👴🏻"; }
  .ucon.ucon-person-old-man-skin-light-tone::before {
    content: "👴🏼"; }
  .ucon.ucon-person-old-man-skin-tone::before {
    content: "👴🏽"; }
  .ucon.ucon-person-old-man-skin-dark-tone::before {
    content: "👴🏾"; }
  .ucon.ucon-person-old-man-skin-dark::before {
    content: "👴🏿"; }
  .ucon.ucon-person-old-woman::before {
    content: "👵"; }
  .ucon.ucon-person-old-woman-skin-light::before {
    content: "👵🏻"; }
  .ucon.ucon-person-old-woman-skin-light-tone::before {
    content: "👵🏼"; }
  .ucon.ucon-person-old-woman-skin-tone::before {
    content: "👵🏽"; }
  .ucon.ucon-person-old-woman-skin-dark-tone::before {
    content: "👵🏾"; }
  .ucon.ucon-person-old-woman-skin-dark::before {
    content: "👵🏿"; }
