$ucon-font-size-base: 16px !default;
$ucon-css-prefix: ucon !default;
$ucon-icons: (
  'face': (
    'grinning':           '\1f600',
    'beaming':            '\1f601',
    'joy-tears':          '\1f602',
    'rolling':            '\1f923',
    'grinning-big-eyes':  '\1f603',
    'grinning-smiling':   '\1f604',
    'grinning-sweat':     '\1f605',
    'grinning-squiting':  '\1f606',
    'winking':            '\1f609',
    'smiling-eyes':       '\1f60a',
    'savoring':           '\1f60b',
    'smiling-sunglasses': '\1f60e',
    'heart-eye':          '\1f60d',
    'blowing-kiss':       '\1f618',
    'kissing':            '\1f617',
    'kissing-smiling-eye':'\1f619',
    'kissing-closed-eye': '\1f61a',
    'smiling':            '\263a',
    'slighty-smiling':    '\1f642',
    'hugging':            '\1f917',
    'star-struck':        '\1f929',
    'thinking':           '\1f914',
    'raised-eyebrow':     '\1f928',
    'neutral':            '\1f610',
    'expressionless':     '\1f611',
    'without-mouth':      '\1f636',
    'rolling-eyes':       '\1f644',
    'smirking':           '\1f60f',
    'persevering':        '\1f623',
    'sad-relieved':       '\1f625',
    'open-mouth':         '\1f62e',
    'zipper-mouth':       '\1f910',
    'hushed':             '\1f62f',
    'sleepy':             '\1f62a',
    'tired':              '\1f62b',
    'sleeping':           '\1f634',
    'relivied':           '\1f60c',
    'tongue':             '\1f61b',
    'winking-tongue':     '\1f61c',
    'squinting-tongue':   '\1f61d',
    'drooling':           '\1f924',
    'unamused':           '\1f612',
    'downcast-sweat':     '\1f613',
    'pensive':            '\1f614',
    'confused':           '\1f615',
    'upside-down':        '\1f643',
    'money-mouth':        '\1f911',
    'astonished':         '\1f632',
    'frowning':           '\2639',
    'slighty-frowning':   '\1f641',
    'confounded':         '\1f616',
    'disappointed':       '\1f61e',
    'worried':            '\1f61f',
    'steam-from-nose':    '\1f624',
    'crying':             '\1f622',
    'loudly-crying':      '\1f62d',
    'frowning-open-mouse':'\1f626',
    'anguished':          '\1f627',
    'fearful':            '\1f628',
    'weary':              '\1f629',
    'exploding-head':     '\1f92f',
    'grimacing':          '\1f62c',
    'anxious-sweat':      '\1f630',
    'screaming-fear':     '\1f631',
    'flushed':            '\1f633',
    'crazy':              '\1f92a',
    'dizzy':              '\1f635',
    'pouting':            '\1f621',
    'angry':              '\1f620',
    'symbols-mouth':      '\1f92c',
    'medical-mask':       '\1f637',
    'thermometer':        '\1f912',
    'head-bandage':       '\1f915',
    'nauseated':          '\1f922',
    'vomiting':           '\1f92e',
    'sneezing':           '\1f927',
    'smiling-halo':       '\1f607',
    'cowboy-hat':         '\1f920',
    'clown':              '\1f921',
    'lying':              '\1f925',
    'shushing':           '\1f92b',
    'hand-over-mouth':    '\1f92d',
    'monocle':            '\1f9d0',
    'nerd':               '\1f913',
    'smiling-horns':      '\1f608',
    'angry-horns':        '\1f47f',
    'ogre':               '\1f479',
    'goblin':             '\1f47a',
    'skull':              '\1f480',
    'skull-crossbones':   '\2620',
    'ghost':              '\1f47b',
    'alien':              '\1f47d',
    'alien-monster':      '\1f47e',
    'robot':              '\1f916',
    'poo':                '\1f4a9'
  )
);
